.card{
    width: 40%;
    margin: auto;
    text-align: center;
    background-color: white;
    padding: 30px;
    margin-top: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
ol{
    display: inline;
    list-style-position: inside;
    list-style-type: decimal;
    font-size: 22px;
    font-weight: bold;
}
.placement:nth-child(1) {
    color: gold;
}

.placement:nth-child(2) {
    color: silver;
}

.placement:nth-child(3) {
    color: #cd7f32; /* bronz */
}

table {
        width: 80%;
        margin: 30px auto;
        border-collapse: collapse;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #fff;
    }

    th {
        text-align: center !important;
        background-color: #504B14;  
        color: white;
        padding: 12px 15px;
        text-align: left;
        font-size: 16px;
        text-transform: uppercase;
    }

    td {
        padding: 12px 15px;
        border-bottom: 1px solid #ddd;
        font-size: 15px;
    }

    tr:nth-child(even) {
        background-color: #f9f9f9;
    }
